table#purls-table tr>:first-child,
table#purls-table tr :nth-child(3),
table#purls-table tr :nth-child(5),
table#purls-table tr :nth-child(6),
table#purls-table tr :nth-child(7),
table#purls-table tr>th:last-child,
table#purls-table tr>td:last-child{text-align:center;}

table#purls-table td:nth-child(7) {text-align: right;}

table#purls-table td:nth-child(2), table#purls-table td:nth-child(4) {color: #777}
table#purls-table td:nth-child(2)::first-line {color: #212529}

.table table#purls-table tr td {vertical-align:top}
table#purls-table small.material-icons {font-size:14px; vertical-align:middle;}