table#sections-table tr>:first-child,
table#sections-table tr :nth-child(3),
table#sections-table tr :nth-child(4),
table#sections-table tr :nth-child(5),
table#sections-table tr th.links,
table#sections-table tr>th:last-child,
table#sections-table tr>td:last-child{text-align:center;}

table#sections-table td:nth-child(6) {text-align: right;}

table#sections-table td:nth-child(2) {color: #777}

.table table#sections-table tr td {vertical-align:top}
table#sections-table small.material-icons {font-size:14px; vertical-align:middle;}