.dark {background-color:#000; color:white!important;}
body {font-family:'Roboto', sans-serif; min-height: 100vh; font-weight:300; background:inherit; color:inherit;}

#page-content {min-height:300px; padding: 0px 0px 2rem; font-size:.875em;}

a:not(.btn) {color:inherit;}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: .5rem 0;
    line-height: 100%;
    padding: 0px;
}

/*Header*/
#header {border-bottom:2px solid #000;}
.dark #header {border-bottom:2px solid #fff;}
#header .navbar-brand {font-family:'Montserrat', sans-serif; color:inherit; font-weight:bolder;}
#header .navbar-brand .cp {font-weight:bolder; letter-spacing: -.05rem;}

.navbar-toggler {border-color: rgba(128,128,128,.12); color:inherit;}
.navbar-toggler:hover {border-color: rgba(128,128,128,.24)}
.navbar-toggler-icon {color: rgba(128,128,128,.12)}
:hover .navbar-toggler-icon {color: rgba(128,128,128,.24)}

#main-nav {margin: 10px 0px 0px; font-weight:inherit;}
#main-nav li {text-align:right;}
#main-nav, #main-nav li, #main-nav li a {height:100%; overflow:visible; color:inherit;}
#main-nav li {position:relative; line-height:100%; vertical-align:middle;}
#main-nav li a {display:block; padding: 0px 0px;}
#main-nav li a i {margin-right: 3px; font-size:18px; position:relative; top:3px;}
#main-nav li a strong {line-height:18px; font-weight:inherit;}
#main-nav li.active a {cursor:default; text-shadow:none;}
#main-nav li.active a strong {font-weight:500;}
#main-nav li:hover:not(.active) {/*text-shadow: 0px 2px 1px #ccc;*/ margin-bottom:-4px;}

#header-ext {position:relative; margin-bottom:0px; background:rgba(128,128,128,.12); border-bottom:1px solid rgba(128,128,128,.24); vertical-align:bottom; height:51px;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, transparent 0%, rgba(128,128,128,.12) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(128,128,128,.12))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%,rgba(128,128,128,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%,rgba(128,128,128,.12) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%,rgba(128,128,128,.12) 100%); /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%,rgba(128,128,128,.12) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='rgba(128,128,128,.12)',GradientType=0 ); /* IE6-9 */
}
#sub-nav {height:36px; border-bottom:0px; font-size:14px; vertical-align:bottom; border-color:rgba(128,128,128,.24);}
#sub-nav li a {color:inherit; line-height:20px; padding: 10px 20px 4px; background:transparent; border-bottom:0px;}
#sub-nav li a:hover {border-color:rgba(128,128,128,.24);}
#sub-nav li a.active {font-weight:500; background:#fff;}
#sub-nav li a:focus {outline:none; border-color:rgba(128,128,128,.24);}
.dark #sub-nav li a.active {border-color:rgba(128,128,128,.24); background:#000;}

.container-fluid {padding: 0 1rem;}
.container-fluid .page-header {padding: 2rem 0px 0px;}

.page-header.border-bottom {border-bottom-color: rgba(128,128,128,.24)!Important;}
.page-header .breadcrumb {background:inherit; font-size: 14px!Important}
.page-header .breadcrumb-item+.breadcrumb-item::before {content: "\276D";}

.page-header a.btn-add {display:inline-block; color:Inherit!Important; padding-left:.35rem;}
.page-header a.btn-add i.material-icons {vertical-align:middle}

.list-group-item {background:inherit;}

div.table {padding: 0 1rem; font-size:14px;}

.timing-info {margin: 0rem 1rem; padding:.5rem .5rem; font-size:12px;}
.timing-info span {float:right; opacity:.5}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	#main-nav {margin: -8px 0px;}
	#main-nav li {text-align:left;}
	#main-nav li a i {margin-right: 0px}
	
	#main-nav li {margin-left: 36px; line-height:60px;} 
	#main-nav li span {display:block; position: relative; bottom:-4px; width:0px; cursor:default;}
	#main-nav li:hover:not(.active) span {display:block; width:100%; height:1px; bottom: -2px; margin: 0px auto -3px; background:#000; border-bottom: 3px solid #000; transition: width .3s ease;}
    .dark #main-nav li:hover:not(.active) span {background:#fff; border-bottom-color: #fff;}

	#main-nav li.active span {display:block; position:absolute; left:50%; bottom:-8px; width:12px; height:12px; margin-left:-6px; border: 2px solid #000; background:#fff; border-color:#000 #000 #fff #fff; 
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		transform: rotate(-45deg)
	}
	.dark #main-nav li.active span {background:#000; border-color:#fff #fff #000 #000;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#main-nav li a i {margin: 0px 3px -2px 0px;}
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}





@media only screen and (min-width: 33.9em) {
	/* #main-nav li a i {margin: -2px 0px 0px 0px;} */
}
@media only screen and (min-width: 47.9em) {
	/* #main-nav li a i {margin: -2px 3px 0px 0px;}
	
	#main-nav li {margin-left: 36px; line-height:56px;} 
	#main-nav li span {display:block; position: relative; bottom:-4px; width:0px; cursor:default; z-index:3;}
	#main-nav li:hover:not(.active) span {display:block; width:100%; height:1px; bottom: -2px; margin: 0px auto -3px; background:#000; border-bottom: 3px solid #000; transition: width .3s ease;}
	#main-nav li.active span {display:block; position:absolute; left:50%; bottom:-8px; width:12px; height:12px; margin-left:-6px; border: 2px solid #000; background:#fff; border-color:#000 #000 #fff #fff; 
		-ms-transform: rotate(-45deg);  -- IE 9
		-webkit-transform: rotate(-45deg); -- Chrome, Safari, Opera 
		transform: rotate(-45deg)
	} */
}
@media only screen and (min-width: 61.9em) {
}
@media only screen and (min-width: 74.9em) {}


#header:after {visibility:hidden; display:block; content:""; clear:both; height:0;}
#header a {display:inline-block; text-decoration:none; vertical-align:top;}
#page-alerts {margin-bottom:-.75rem;}
.table tbody tr td:last-child a:first-child {margin-right: 0px!Important;}
.table .material-icons.md-18 {font-size:18px; line-height:100%; vertical-align:middle; margin-left:3px; opacity:.35}
.table a:hover .material-icons.md-18 {opacity:1;}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#show-head-flag {padding:0px;}
#show-head-flag img {display: block; border-radius:30px!important; height:60px; max-width:60px; float:right; margin-top:5px;  border: 1px solid #dee2e6;
image-rendering: -moz-crisp-edges;
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;}

#show-head-item {padding:0px; position:relative; display: block; border-radius:30px!important; height:60px; max-width:60px; float:right; margin-top:5px;  border: 1px solid #dee2e6;
image-rendering: -moz-crisp-edges;
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;
text-align: center;}
#show-head-item i {font-size:59px; opacity: .5; vertical-align:top; margin:0px;}





/*Footer*/
#foot-ext {position:relative; background:rgba(128,128,128,.12); border-top:1px solid rgba(128,128,128,.24); border-bottom:2px solid #000;  padding: 0rem 1rem;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(128,128,128,.12) 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,128,128,.12)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(128,128,128,.12) 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(128,128,128,.12) 0%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(128,128,128,.12) 0%,#fff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(128,128,128,.12) 0%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128,128,128,.12)', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
}
.dark #foot-ext {border-bottom-color:#fff; border-top:1px solid rgba(128,128,128,.24);
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(128,128,128,.12) 0%, #000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,128,128,.12)), color-stop(100%,#000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(128,128,128,.12) 0%,#000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(128,128,128,.12) 0%,#000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(128,128,128,.12) 0%,#000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(128,128,128,.12) 0%,#000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128,128,128,.12)', endColorstr='#000',GradientType=0 ); /* IE6-9 */
}
#foot-ext div{color:rgba(128,128,128,.5); padding:0px 0px; line-height:36px; font-size:12px;}
#foot-ext div h1{float: left; font-size:12px; margin:0px; line-height:inherit; font-weight:300;}
#foot-ext div h1 a {font-size:13px;}
#foot-ext div p{text-align:right; margin:0px; font-weight:300;}
#foot-ext div a {color:inherit; text-decoration:none; font-weight:400;}
#foot-ext div a:hover {color:rgba(128,128,128,1);}
#foot div {position:relative; margin:20px 0px; display:inline-block; vertical-align:top; width:50%; text-align:right;}
#foot div:first-child {text-align:left;}
#foot div a {display:block; text-decoration:none; color:#888;}
#foot div a:hover {color:#000;}

pre, code {display: block; font-family: courier; white-space: pre; margin: 0 0 1em; border:1px solid #888; padding:10px; font-size:11px; background:rgba(128,128,128,.12)}

/*bootstrap chnages - to work with dark theme*/
* {border-radius: 0 !important;}

.border {border-color:rgba(128,128,128,.24)!Important}

.card {background-color:transparent; border: 1px solid rgba(128,128,128,.24)}
.form-control {background-color:transparent; border-color:rgba(128,128,128,.24)}

.form-control:disabled, .form-control[readonly] {background:rgba(128,128,128,.24)}
.form-control:focus {background:rgba(128,128,128,.24)}
.form-control-plaintext {color:inherit;}

a[target="_blank"]:not(.tbl-ico)::after {
    content: "↗";
    padding-left: 3px;
}
