.min-h-screen {
    background-image: url("/lt/img/login-bg-light.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

html.dark .min-h-screen {
    background-image: url("/lt/img/login-bg-dark.jpg");
    /*color:rgb(189, 193, 198);*/
}

.min-h-screen .login-site-name {
    font-family:'Montserrat', sans-serif; 
    color:inherit; 
    font-weight:lighter;
    font-size: 3em;
}

/*html.dark .min-h-screen .login-site-name {
    color: #fff;
}*/

/*html.dark .min-h-screen .w-full {
    background: rgba(18,18,18,1);
    color:#ddd;
}*/
