body {font-family:'Roboto', sans-serif;}
#page-content {min-height:150px; padding: 2rem 0px;}

	* {border-radius: 0 !important;}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: .5rem 0;
    line-height: 100%;
    padding: 0px;
}

/*Header*/
#header {border-bottom:2px solid #000; color:#000;}
#header .nav-item .material-icons {}
#header .navbar-brand {font-weight:bold; font-family:'Montserrat', sans-serif; font-weight:300;}

#main-nav {margin: 8px 0px 0px;}
#main-nav li {text-align:right; font-size:0.9375em;}
#main-nav, #main-nav li, #main-nav li a {height:100%; overflow:visible;}
#main-nav li {position:relative; line-height:40px;}
#main-nav li a {display:block; padding: 0px 0px; font-weight:300;}
#main-nav li a i {margin-right: 3px; vertical-align:text-bottom; font-size:24px;}
#main-nav li.active a {cursor:default; text-shadow:none; color:#000; font-weight:500;}
#main-nav li:hover:not(.active) {text-shadow: 0px 2px 1px #ccc; color:#000; font-weight:400; margin-bottom:-4px;}

#header-ext {}
#header-ext {position:relative; margin-bottom:0px; background:rgba(128,128,128,.12); border-bottom:1px inset rgba(128,128,128,.24);
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, transparent 0%, rgba(128,128,128,.12) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(128,128,128,.12))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%,rgba(128,128,128,.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%,rgba(128,128,128,.12) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%,rgba(128,128,128,.12) 100%); /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%,rgba(128,128,128,.12) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='rgba(128,128,128,.12)',GradientType=0 ); /* IE6-9 */
}
#sub-nav {padding: .5rem 1rem 0; border-bottom:0px; font-size:14px;}
#sub-nav li a {color:#000; font-weight:300;}
#sub-nav li a.active {font-weight:500;}

a:not(.btn) {color:inherit!important;}

.container-fluid {padding: 0 1rem;}
.container-fluid .page-header {}
.container-fluid .page-header .p-2 {padding:0px!important;}

/*.page-header .p-2 a.btn-add {display:inline-block; font-size:15px; line-height:24px; vertical-align:bottom; color:#000; text-decoration:none; background-color: rgba(128,128,128,.12); padding:0 5px; opacity:.7; margin: 5px 0; border: 1px solid #e8e8e8; padding-top:3px;}*/
/*.page-header .p-2 a.btn-add:hover {opacity:1;}*/
/*.page-header .p-2 a.btn-add i.material-icons {vertical-align:middle; margin-top:-5px;}*/
.page-header .p-2 a.btn-add {margin: 5px 0; color:#fff!important; padding-bottom:0.275rem; padding-left:.35rem;}
/*.page-header .p-2 a.btn-add:hover {color:#fff!important}*/
.page-header .p-2 a.btn-add i.material-icons {margin-top:-1px;}

div.table {padding: 0 1rem; font-size:14px;}

.timing-info {margin: 0rem 1rem; padding:.5rem .5rem; font-size:12px;}
.timing-info span {float:right; opacity:.5}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	#main-nav {margin: -8px 0px;}
	#main-nav li {text-align:left;}
	#main-nav li a i {margin-right: 0px}
	
	#main-nav li {margin-left: 36px; line-height:56px;} 
	#main-nav li span {display:block; position: relative; bottom:-4px; width:0px; cursor:default; z-index:3;}
	#main-nav li:hover:not(.active) span {display:block; width:100%; height:1px; bottom: -2px; margin: 0px auto -3px; background:#000; border-bottom: 3px solid #000; transition: width .3s ease;}
	#main-nav li.active span {display:block; position:absolute; left:50%; bottom:-8px; width:12px; height:12px; margin-left:-6px; border: 2px solid #000; background:#fff; border-color:#000 #000 #fff #fff; 
		-ms-transform: rotate(-45deg); /* IE 9 */
		-webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
		transform: rotate(-45deg)
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	#main-nav li a i {margin: 0px 3px -2px 0px;}
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}





@media only screen and (min-width: 33.9em) {
	/* #main-nav li a i {margin: -2px 0px 0px 0px;} */
}
@media only screen and (min-width: 47.9em) {
	/* #main-nav li a i {margin: -2px 3px 0px 0px;}
	
	#main-nav li {margin-left: 36px; line-height:56px;} 
	#main-nav li span {display:block; position: relative; bottom:-4px; width:0px; cursor:default; z-index:3;}
	#main-nav li:hover:not(.active) span {display:block; width:100%; height:1px; bottom: -2px; margin: 0px auto -3px; background:#000; border-bottom: 3px solid #000; transition: width .3s ease;}
	#main-nav li.active span {display:block; position:absolute; left:50%; bottom:-8px; width:12px; height:12px; margin-left:-6px; border: 2px solid #000; background:#fff; border-color:#000 #000 #fff #fff; 
		-ms-transform: rotate(-45deg);  -- IE 9
		-webkit-transform: rotate(-45deg); -- Chrome, Safari, Opera 
		transform: rotate(-45deg)
	} */
}
@media only screen and (min-width: 61.9em) {
}
@media only screen and (min-width: 74.9em) {}


#header:after {visibility:hidden; display:block; content:""; clear:both; height:0;}
#header a {display:inline-block; text-decoration:none; vertical-align:top;}
#page-alerts {margin-bottom:-.75rem;}
.table tbody tr td:last-child a:first-child {margin-right: 0px!Important;}
.table .material-icons.md-18 {font-size:18px; line-height:100%; vertical-align:middle; margin-left:3px; opacity:.35}
.table a:hover .material-icons.md-18 {opacity:1;}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#show-head-flag {padding:0px;}
#show-head-flag img {display: block; border-radius:30px!important; height:60px; max-width:60px; float:right; margin-top:5px;  border: 1px solid #dee2e6;
image-rendering: -moz-crisp-edges;
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;}

#show-head-item {padding:0px; position:relative; display: block; border-radius:30px!important; height:60px; max-width:60px; float:right; margin-top:5px;  border: 1px solid #dee2e6;
image-rendering: -moz-crisp-edges;
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;
text-align: center;}
#show-head-item i {font-size:59px; opacity: .5; vertical-align:top; margin:0px;}





/*Footer*/
#foot-ext {position:relative; background:rgba(128,128,128,.12); border-top:1px inset rgba(128,128,128,.24); border-bottom:2px solid #000;  padding: 0rem 1rem;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(128,128,128,.12) 0%, #fff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,128,128,.12)), color-stop(100%,#fff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(128,128,128,.12) 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(128,128,128,.12) 0%,#fff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(128,128,128,.12) 0%,#fff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(128,128,128,.12) 0%,#fff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128,128,128,.12)', endColorstr='#fff',GradientType=0 ); /* IE6-9 */
}
#foot-ext div{color:#888; padding:0px 0px; line-height:36px; font-size:12px;}
#foot-ext div h1{float: left; font-size:12px; margin:0px; line-height:inherit; font-weight:300;}
#foot-ext div h1 a {font-size:13px;}
#foot-ext div p{text-align:right; margin:0px; font-weight:300;}
#foot-ext div a {color:inherit; text-decoration:none; font-weight:400;}
#foot-ext div a:hover {color:#000;}
#foot div {position:relative; margin:20px 0px; display:inline-block; vertical-align:top; width:50%; text-align:right;}
#foot div:first-child {text-align:left;}
#foot div a {display:block; text-decoration:none; color:#888;}
#foot div a:hover {color:#000;}

pre, code {display: block; font-family: courier; white-space: pre; margin: 0 0 1em; border:1px solid #888; padding:10px; font-size:11px; background:rgba(128,128,128,.12)}