table#pages-table tr>:first-child,
table#pages-table tr :nth-child(2),
table#pages-table tr :nth-child(4),
table#pages-table tr :nth-child(5),
table#pages-table tr th:nth-child(6),
table#pages-table tr th:last-child,
table#pages-table tr td:last-child{text-align:center;}
table#pages-table tr>td:nth-child(6){text-align:right;}

table#pages-table tr td:nth-child(2) {text-transform: capitalize;}

table#pages-table td:nth-child(3) {color: #777}
table#pages-table td:nth-child(3)::first-line {color: #212529}

.table table#pages-table tr td {vertical-align:top}
table#pages-table small.material-icons {font-size:14px; vertical-align:middle;}

/* Fields */
.list-group-item-action {cursor: ns-resize}
.list-group-item-action textarea {cursor: not-allowed; font-size: small;}
.list-group-item-action .text-right .material-icons {cursor: pointer}